header.header
    .container
        .header-container
            a.header-logo(href="/")
                +icon('logo')
            nav.header-menu
                ul.header-menu-list
                    li.header-menu-item
                        a(href="/about.html") About
                    li.header-menu-item
                        a(href="#") Services
                    li.header-menu-item
                        a(href="#") Projects
            .header-socials
                ul
                    li
                        a(href="#")
                            +icon('facebook')
                    li
                        a(href="#")
                            +icon('instagram')
                    li
                        a(href="#")
                            +icon('twitter')
            .header-burger
                span
                span
                span
